# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [ ]:
def addTwo(x):
    return x + 2

print(addTwo(4))

# Lambda Function Syntax
# Example of calling a lambda function without a variable
print((lambda x: x + 2)(4))

#### Saving to a Variable

In [ ]:
f_test = lambda x: x + 2

f_test(4)

#### Multiple Inputs

In [7]:
mult_test=lambda x,y,z:x*y +z
mult_test(4,5,7)

27

#### Passing a Lambda into a Function

In [8]:
def apply_func(f,name):
    return f(name)
def get_first_letter(a_string):
    return a_string[0]
apply_func(str.upper,'brain')

'BRAIN'

In [9]:
apply_func(lambda a_string:a_string[0], 'codingtemple')

'c'

#### Returning a Lambda from a Function

In [11]:
def multiply_test(num):
    a=5
    def inner(c,d):
        return(a*num)-(c*d)
    return inner

test= multiply_test(10)
print(test)
print(type(test))

<function multiply_test.<locals>.inner at 0x1070bfdc0>
<class 'function'>

In [12]:
test(3,5)

35

In [15]:
def return_lambda(num):
    a=5
    return lambda c,d:(num*a)-(c*d)
    
lamb_test=return_lambda(15)
print(lamb_test)
print(type(lamb_test))

<function return_lambda.<locals>.<lambda> at 0x1070e60d0>
<class 'function'>

In [16]:
lamb_test(4,5)

55

#### If Statements within Lambdas

In [33]:
f = lambda num * 3 
f(2)

SyntaxError: invalid syntax (<ipython-input-33-035d9b8e8f7f>, line 1)

In [29]:
#lambda input(s):return TRUE if (condition) else return False
do_lambda(num)
    return lambda num * 2 
do_lambda(10)

IndentationError: unexpected indent (<ipython-input-29-29a8ecadbfdc>, line 3)

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [35]:
f = lambda num **3
f(10)

SyntaxError: invalid syntax (<ipython-input-35-f84d25beddeb>, line 1)

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [36]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [50]:
#map(function,iterable-> list,tuple,set,ect)

def square_minues_two(a):
    return a**2-2
numbers=[2,3,4,5,6,3,2,3,5]
mapped_nums=map(square_minues_two,numbers)
mapped_nums_list=list(mapped_nums)
mapped_nums_list

[2, 7, 14, 23, 34, 7, 2, 7, 23]

In [51]:
nums=[2,4,5,7,9,4,3,5,7,5,3]
more_nums=[3,4,6,1]
def some_func(a,b):
    if a>b:
        return (a,b**2)
    else:
        return (a**2,b)

list(map(some_func,nums,more_nums))

[(4, 3), (16, 4), (25, 6), (7, 1)]

#### Using Lambda's with Map

In [53]:
mapped_square_list=list(map(lambda x:x**2-2,numbers))
mapped_square_list

[2, 7, 14, 23, 34, 7, 2, 7, 23]

In [55]:
list(map(lambda x,y:(x,y**2) if x >y else (x**y),nums,more_nums))

[8, 256, 15625, (7, 1)]

In [56]:
def my_name(x):
    return "Brian"

list(map(my_name,[4,5,6,2,3]))

['Brian', 'Brian', 'Brian', 'Brian', 'Brian']

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [64]:
numbers=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda a:a*2 if a %2==0 else a/2,numbers))

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [74]:
names=['Bob', 'Andy', 'Max','Even','Angelica']
def starts_with_a(name):
    if name[0].lower()=="a":
        return True
    else:
        return False
a_names_mapped=list(map(starts_with_a,names))
print(a_names_mapped)

a_names_mapped=list(filter(starts_with_a,names))
print(a_names_mapped)

[False, True, False, False, True]
['Andy', 'Angelica']

#### Using Lambda's with Filter()

In [86]:
a_names=list(filter(lambda n: True if n[0].lower()=="a" else False ,names))
a_names

['Andy', 'Angelica']

In [89]:
def remainder(x):
    return x %3
list (filter(remainder,[1,2,3,4,5,6,7,8,9]))

[1, 2, 4, 5, 7, 8]

In [91]:
def empty_or_list(x):
    if x**2>10:
        return[1,2,3]
    else:
        return[]
list(filter(empty_or_list,[1,2,3,4,5,6]))

[4, 5, 6]

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [97]:
import statistics
nums=[15,3,57,8,13,56,40,83,83,90]
mean_of_nums=statistics.mean(nums)
mean_of_nums

44.8

In [99]:
below_mean=list(filter(lambda x:x<mean_of_nums))
below_mean

TypeError: filter expected 2 arguments, got 1

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [100]:
from functools import reduce
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

#### Using Lambda's with Reduce()

In [116]:
list_1=[2,4,6,8,10]


def add_nums(num1,num2):
    print(f"num1:{num1}")
    print(f"num2:{num2}")
    return num1+num2
result_add=reduce(add_nums,list_1)
print(result_add)

num1:2
num2:4
num1:6
num2:6
num1:12
num2:8
num1:20
num2:10
30

In [119]:
result_lamb=reduce(lambda num1,num2:num1+num2,list_1)
result_lamb

30

In [118]:
total=0
for num in list_1:
    total+=num
print(total)

30

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [123]:
list_1=[2,4,6,8,10]
mult_list=reduce(lambda num1,num2:num1*num2,list_1)
mult_list

3840

In [127]:
total=1 
for nums in list_1:
    total*=nums
print(total)

3840

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

In [136]:
def full_name(first,last):
    return first +' '+last

def greet_person(first,last,day_of_week):
    person_full_name=full_name(first,last)
    print(f"Hello {person_full_name},it sure is beautiful on this {day_of_week}")
    
greet_person("Gerardo","Montalvo","Tuesday")

Hello Gerardo Montalvo,it sure is beautiful on this Tuesday

In [146]:
def add_nums(num):
    #set base case for recursive function
    if num<=1:
        print(f"add_nums{num})={num}")
        return num
    else:
            print(f"add_nums({num})={num}+add_nums({num-1}")
            return num+add_nums(num-1)

add_nums(5)

add_nums(5)=5+add_nums(4
add_nums(4)=4+add_nums(3
add_nums(3)=3+add_nums(2
add_nums(2)=2+add_nums(1
add_nums1)=1

15

#### Writing a Factorial Function

In [ ]:
#5! = 5*4*3*2*1

In [152]:
def factorial(n):
    if n <=1:
        return 1
    else:
        return n * factorial(n-1)
factorial(5)

120

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [161]:
def sub_nums(num):
    #set base case for recursive function
    if num<=1:
        print(f"sub_nums{num})={num}")
        return num
    else:
            print(f"sub_nums({num})={num} - sub_nums({num-1}")
            return num - sub_nums(num-1)

add_nums(5)

add_nums(5)=5+add_nums(4
add_nums(4)=4+add_nums(3
add_nums(3)=3+add_nums(2
add_nums(2)=2+add_nums(1
add_nums1)=1

15

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [163]:
a=map(len,['Brian','Tatyanna', 'Ryan'])
a[2]

TypeError: 'map' object is not subscriptable

In [164]:
for i in a:
    print(i)

5
8
4

In [165]:
for i in a:
    print(i)

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [170]:
def my_range(start,stop,step=1):
    while start < stop:
        return(start) #return makes an error
        start+=step
for x in my_range(0,10):
    print(x**2)

TypeError: 'int' object is not iterable

In [174]:
def my_range(start,stop,step=1):
    while start < stop:
        yield(start) 
        start+=step
cool_range=my_range(0,10)
cool_range

In [175]:
for x in cool_range:
    print(x**2)

0
1
4
9
16
25
36
49
64
81

In [179]:
gen1=my_range(5,50,3)
list(gen1)

[5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47]

In [180]:
list(gen1)

[]

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [200]:
def squared_gen(num):
    while num >=0:
        yield num **2
        num -=1

my_gen=squared_gen(10)

In [201]:
my_gen

In [212]:
next(my_gen)

1

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [270]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

def only_places(places):
    if places in places == ' ':
        return False
    elif places in places == '  ':
        return False 
    elif places in places == '':
            return False 
    else:
        return True
print(list(filter(only_places,places)))

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [307]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]
author.sort(key=lambda x:x.split(" ")[-1].lower())
print (author)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [397]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]
def degrees(f,c):
    for x in places:
        (9/5)*c+ 32
    else:
        False
        
print(places)

[('Nashua', 32), ('Boston', 12), ('Los Angelos', 44), ('Miami', 29)]

In [403]:
list(map(lambda x: (x,x[1]*9/5*+32),places))

[(('Nashua', 32), 1843.2),
 (('Boston', 12), 691.2),
 (('Los Angelos', 44), 2534.4),
 (('Miami', 29), 1670.4)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [412]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else: 
        return F(n-1)+F(n-2)
fib(5)

5